<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" ng-if="!(homeLogged())" ng-href="#!/login">Log In</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-click="logout()">Log Out</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-href="#!/me">My Films</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-href="#!/store">Store</a>
    </div>
  </div>
</nav>
<div class="row">
	<div ng-repeat="film in data" ng-if="film.status === 'a'" class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mt-4">
      <film-card></film-card>
	</div>
</div>
  