<div class="card" ng-hide="edit" ng-click="edit=true">
	<h4> {{ film.title }} </h4>
	<h1> {{film.id}}</h1>
	<span class="summary"> {{ film.summary }} </span>
	<div> {{ film.cost }}</div>
	<div ng-if="compareDates(currentDate, film.due_back)"> Overdue: {{ film.cost + (film.cost * 0.05) }}</div>
</div>

<div class="card" ng-show="edit">
	<input type="text"
               ng-model="film.title"
               ng-change="update()" />
	<span class="summary"> {{ film.summary }} </span>
	<div> {{ film.cost }}</div>
	<input type="text" ng-model="film.status" ng-change="update()">
	<button n-if="film.status !== 'r'" ng-click="update($index)">Rent</button>
	<button n-if="film.status === 'a'" ng-click="deposit($index)">Bring back!</button>
</div>