<nav  class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" ng-if="!(homeLogged())" ng-href="#!/login">Log In</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-click="logout()">Log Out</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-href="#!/me">My Films</a>
      <a class="nav-item nav-link" ng-if="homeLogged()" ng-if="homeLogged()" ng-href="#!/store">Store</a>
      <a class="nav-item nav-link" ng-if="!(homeLogged())" ng-href="#!/registration">Registration</a>
    </div>
  </div>
</nav>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Mr. Movies</h1>
    <p class="display-6">It's never been so easy to rent a film from your home in this 3 sample steps:</p>
    <h3>Instructions:</h3>
    <ul>
      <li><a ng-href="#!/registration" target="_blank">Create an Account</a> or <a target="_blank" ng-href="#!/login">Log in yours!</a> (You're going to see the next steps after logged in)</li>
      <li ng-if="homeLogged()">Go to the <a target="_blank" ng-href="#!/store">store</a></li>
      <li ng-if="homeLogged()" >When your finished your movie, return your film in your <a ng-href="#!/me">Films</a> or directly from our amazing <a ng-href="#!/store">Catalog</a>!</li>
    </ul>
  </div>
</div>
<div class="row">
  
</div>