{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>RentApp a Movie!</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    
    <div class="" ng-app="rentApp">
        <ng-view></ng-view>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.min.js"></script>
    <script src="{% static 'js/catalog.js' %}"></script>
    <script src="{% static 'js/catalog.config.js' %}"></script>
    <script src="{% static 'js/login.controller.js' %}"></script>
    <script src="{% static 'js/login.service.js' %}"></script>
    <script src="{% static 'js/film.directive.js' %}"></script>


</body>
</html>